*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    }
body{

    overflow-x: auto;
    min-width: 1000px;
    width: 100%;
    
}
.mobile_menu {
    display: none;
}
.site_logo{
    display: none;
}

.header_ {
    background-image: url(content/images/ballgame/BACKGROUND.png);
    background-size: cover;
    background-size: cover;
    background-position: center;
    height: 600px;
    
    
 

}

.coverimg{
height: 20%;
width: 20%;
top: 0px;
left: -10px;

}
.logo {
    float: left;
    width: 100%;
}

.g_title {
    font-style: italic;
    color: honeydew;
    position: relative;
    float: left;
    width: 20%;
    top: -20%;
    left: 19%;
    font-size: 169%;
   
    
}    

.navbar{
   
    align-items: center;
    justify-content: space-between;
    top: 50px;
    position: absolute;
    margin-right: 3px;
	text-align: right;
	right: 0;
  
    
    }

    .navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    right: 10px;
    
    }
    
    .navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    }
    
    .navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.25s;
    }
    .navbar ul li:hover::after{
    width: 100%;
    }
   
    span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    }


.content {

    overflow: auto;
    width: 100%;
    padding-bottom: 10%;
    

    
}

.screenshots {

    float: right;
    width: 24%;
    margin: 10px;
    position: relative;
    right: 19%;
    display:list-item;
   


}

.descriptions{

    float: right;
    padding: 5px;
    width: 280px;
    margin: 10px;
    position: relative;
    right: 18%;
    top: 150px;
    flex: auto;
  
  
  
    
}

.img1 {

    width: 215px;
    height: 130%;

    position: relative;
    top: 90px;

}
.img2 {

    width: 215px;
    height: 130%;
   
    position: relative;
    top: 90px;
    

}

.descriptions h1{

    padding: 19px;
    text-align: left;
    right: 20px;
    position: relative;
    

}
.descriptions h4{

    padding: 10px;

}

.descriptions a{

    padding: 9px;
    color: green;

}
.bottom {

    height: 150px;
    width: 100%;
    background-color: rgb(53, 156, 53);

}

@media only screen and (max-width: 700px) {

html, body {

    margin: 0 0;
    width: 100%;
    min-width: 280px;
    height: 100%;
}


.header_ {
    background-image: url(mBACKGROUND.png);
    background-size: cover;
    background-size: cover;
    background-position: center;
    height: 70px;
   
}

  .site_logo{
        
        position: absolute;
        display: block;
        text-align: center;
        z-index: 3;
        
    }
    .site_logo img{
       
        display: block;
        height: 68px;
        margin-top: 3px;
       
    }

.navbar{
   
   margin: 0 0;
    padding: 15px 0;
    display: block;
    left: 0px;
    width: 100%;
    right: 0;
    top: 95px;
    z-index: 1;
    position: absolute;
    margin-top: 5px;
    margin-bottom: 10px;
    min-height: 0%;
    background: linear-gradient(rgb(80, 170, 80),rgb(226, 236, 226));
    
    }
.navbar ul li:hover::after{
        width: 0%;
        }
.navbar ul {
    
 text-align: right;
  
   

}

 .navbar ul li{
      
        display: block;
        margin: 0 0px;
       
       
      
        
        }

.navbar ul li a{
        
        color: #fff; 
        padding: 4 0px;
        
            }

.logo {
    
        float: none;
        width: 88%;
       
        top: 95px;
        text-align: center;
        position: relative;
        left: 6%;
       
        
       
    
}
.screenshots {

    float: none;
    position: absolute;
    display: none;
   


}
.content {

    overflow: auto;
    width: 100%;
    padding-bottom: 2px;
    min-height: 100%;
	height: auto !important;
	clear: both;
    text-align: center;
   
}

.g_title {
    font-style: italic;
    color: rgb(4, 48, 4);
    position: relative;
    float: left;
    width: 60%;
    top: 130%;
    left: 20%;
    font-size: 169%;
    text-align: center;
     

   
    
}    
.mobile_menu {

    
    background-color:white;
    width: 100%;
    position: absolute;
    display: block;
    height: fit-content;
 
    


}
.m_icon {

    float: right;
    height: 30px;
   
    right: 5%;
    width: 10%;
  
}

.project_descriptions{
    width: 100%;
}

.descriptions {

    width: 50%;
    position: relative;
    top: 40px;
    right: 0;
    left: 10%;
    float: none;
    text-align: center;
    min-width: 280px;
    min-height:  320px;
   
   
}

.descriptions h1{

    
    text-align: center;
    right: 3%;
    position: relative;
    color: white;
    height: 0px;
    width: 0px;
    visibility: hidden;
    font-size: 0px;
    

}

.bottom {
    position: relative;
    bottom: 0;
}


}